* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;

    background-color: #FEFDFD;
    position: relative;
    z-index: 1;

}

body {
    font-family: "PT Serif", serif;
    position: relative;
    z-index: 1;
}


/*navbarrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr*/


header {
    display: flex;
    width: 100%;
    /* background-image: url('../images/service3.svg'); */
    background-size: cover;
    align-items: center;

    padding: 20px 0px;
    color: #F4F0EC;
    position: relative;
    box-shadow: 0px 4px 8px 0px rgba(146, 146, 146, 0.2);

}

.logo {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

a {
    text-decoration: none;
    color: #F4F0EC;
    font-size: 20px;
    transition: all 0.5s ease-in;
}

a:hover {
    color: #FDEBC5;
    font-weight: 600;

}

.navbar {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.circle {
    background-color: #F4F0EC;
    padding: 10px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6B6B6B;
}

nav ul {
    list-style-type: none;

    display: flex;
    justify-content: space-between;

}

nav {
    width: 60%;
}

.select {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.select:hover {
    cursor: pointer;
}

.language {
    display: none;
    position: absolute;
    top: 60px;
    right: 50px;

    z-index: 2;
}

.language ul {
    list-style-type: none;
    width: 300px;
    padding: 20px;
    box-shadow: 0px 4px 8px 0px rgba(146, 146, 146, 0.2);
    background-color: #F4F0EC;
    color: #293336;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    row-gap: 16px;
}

.language ul li {
    display: flex;
    column-gap: 10px;
}


.icon {
    display: none;
}

.icon i {
    font-size: 23px;
}


.nav-services {
    display: none;
    position: absolute;
    top: 70px;
    right: 30%;
    z-index: 2;
}

.nav-services ul {
    list-style-type: none;


    width: 50%;

    color: #293336;
    display: flex;
    flex-direction: column;

    border-radius: 6px;
    row-gap: 20px;
}

.service {
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.ul-container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 700px;
    box-shadow: 0px 4px 8px 0px rgba(146, 146, 146, 0.2);
    background-color: #F4F0EC;
    border-radius: 6px;
}

.service a {
    color: #293336;
    text-decoration: none;
}


/*menuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu*/

.inner-ul,
.inner-ul2 {
    display: none;
}

.inner-ul ul,
.inner-ul2 ul {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    list-style-type: none;
    padding: 20px 0px;


}

.mini-nav {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;


    z-index: 2;
    transition: all 1s ease-in-out;
}

.mini-nav a {
    color: #293336;
    text-decoration: none;
    font-size: 16px;

}

.mini-nav .ul {
    list-style-type: none;
    width: 300px;
    height: 100vh;

    padding: 40px 20px;
    box-shadow: 0px 4px 8px 0px rgba(146, 146, 146, 0.2);
    background-color: #F4F0EC;
    color: #293336;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-end;
    border-radius: 10px;
    row-gap: 25px;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    z-index: 3;
}

.mini-nav .nav-a {
    display: flex;
    justify-content: space-between;
    /* column-gap: 150px; */
    align-items: center;
}

.mini-nav .mini-nav-logo {
    display: flex;
    /* column-gap: 130px; */
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.mini-nav-logo .logo .circle {
    background-color: #4F8280;
    color: #F4F0EC;
}

.nav-a .select {
    display: flex;

}

.mini-nav .lang {
    margin-top: auto;
    /*it didnot work*/
}

.mini-nav .service {
    flex-direction: row-reverse;


}

.mini-nav .service a {
    font-size: 14px;
}

.mini-nav-language {
    display: none;
}

.mini-nav-language ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 20px 0px;

}

.mini-nav-language ul li {
    display: flex;
    column-gap: 16px;
    flex-direction: row-reverse;
}

.nav-item {
    width: 100%;
}

@media screen and (min-width: 1200px) {
    .mini-nav {
        display: none !important;
    }

    /* .language {
        display: none !important;
    } */



}

@media screen and (max-width: 1200px) and (min-width:786px) {



    nav {
        display: none;
    }

    .icon {
        display: block;
    }

    .select {
        display: none;
    }

    .language {
        display: none !important;
    }

    a {
        text-decoration: none;
        color: #293336;
        font-size: 20px;
    }

    .nav-services {
        display: none !important;
    }

    .mini-nav {
        display: none;
    }

}

@media screen and (max-width: 786px) and (min-width:600px) {


    nav {
        display: none;
    }

    .icon {
        display: block;
    }

    .select {
        display: none;
    }

    .language {
        display: none !important;
    }

    a {
        text-decoration: none;
        color: #293336;
        font-size: 20px;
    }

    .nav-services {
        display: none !important;
    }

    .mini-nav {
        display: none;
    }
}


@media screen and (max-width: 600px) {

    nav {
        display: none;
    }

    .icon {
        display: block;
    }

    .select {
        display: none;
    }

    .language {
        display: none !important;
    }

    a {
        text-decoration: none;
        color: #293336;
        font-size: 20px;
    }

    .nav-services {
        display: none !important;
    }

    .mini-nav {
        display: none;
    }
}


/*headerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr*/

.main-background {
    background-image: url('../images/service2.svg');
    background-size: cover;
    position: relative;
    z-index: 2;

}

.main-background::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: -1;

}

.header {
    /* background-image: url('../images/Rectangle\ 2.svg'); */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-size: cover;
    opacity: 0.8;

}

.header h1 {
    font-size: 60px;
    font-weight: 400;



}


.header-btn {
    width: 230px;
    height: 50px;
    padding: 5px;
    border-radius: 30px;
    border: none;


}


.main-header {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    width: 60%;

    position: relative;
    z-index: 1;

}

.main-header::before {
    content: " ";
    width: 324px;
    height: 501px;
    opacity: 0.5;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    background-color: #95BDBC;
    position: absolute;
    /* top: -210px; */
    z-index: -1;


}



@media screen and (max-width: 1200px) and (min-width:992px) {

    .main-header::before {
        content: " ";
        width: 250px;
        height: 380px;
   
   
        position: absolute;
        top: -30px;
        z-index: -1;


    }
    .header {
        height: 70vh;
    }


}

@media screen and (max-width: 992px) and (min-width:786px) {


    .main-header {
        width: 80%;

    }

    .header h1 {
        font-size: 40px;
    }

    .header-btn {
        font-size: 12px;
        width: 190px;
    }

    .main-header::before {
        content: " ";
        width: 200px;
        height: 300px;
   
   
        position: absolute;
        top: -50px;
        z-index: -1;


    }
    .header {
        height: 70vh;
    }

}

@media screen and (max-width: 786px) and (min-width:600px) {


    .main-header {
        width: 80%;

    }

    .header h1 {
        font-size: 32px;
    }

    .header-btn {
        font-size: 12px;
        width: 190px;
    }

    .main-header::before {
        content: " ";
        width: 200px;
        height: 300px;


        position: absolute;
        top: -50px;
        z-index: -1;


    }

    .header {
        height: 70vh;
    }


}


@media screen and (max-width: 600px) {
    .main-header {
        width: 80%;

    }

    .header h1 {
        font-size: 28px;
    }

    .header-btn {
        font-size: 12px;
        width: 190px;
    }

    .main-header::before {
        content: " ";
        width: 200px;
        height: 300px;


        position: absolute;
        top: -50px;
        z-index: -1;


    }

    .header {
        height: 70vh;
    }

}
/*afterrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr*/
.after img {
    width: 100%;


}

.after {
    position: relative;
}

.after p {


    font-size: 70px;
    font-weight: 400;
    color: #F4F0EC;



}

.after span {
    color: #fff;
}

.content {
    top: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
}

@media screen and (max-width: 1200px) and (min-width:992px) {
    .after p {
        font-size: 40px;
    }


}

@media screen and (max-width: 992px) and (min-width:786px) {

    .after p {
        font-size: 40px;
    }



}

@media screen and (max-width: 786px) and (min-width:600px) {

    .after p {
        font-size: 30px;
    }


}


@media screen and (max-width: 600px) {

    .after p {
        font-size: 16px;
    }


}

/*our Teammmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm*/
.our-team {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    row-gap: 37px;
    padding: 0px 0px 50px 0px;
}

.our-team-head {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.our-team-head h2 {
    font-size: 40px;
    font-weight: 400;
    color: #6B6B6B;
}

.our-team-head p {
    font-size: 24px;
    color: #4F8280;
}

.team-container {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    row-gap: 20px;
    margin: auto;
    justify-content: space-around;
}



.team-member {
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;


    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    background-color: #95BDBC;

}

.our-team .team-member .member-text {
    z-index: 2;
    color: #F4F0EC;
    line-height: 22px;
    text-align: center;
    padding: 20px;
    font-size: 16px;
}

.team-member img {
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;

    z-index: 2;
    width: 100%;

}

.team-member::before {
    content: " ";
    width: 100%;
    height: 300px;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    background-color: #95BDBC;
    position: absolute;
    z-index: 1;



}

@media screen and (max-width: 1200px) and (min-width:992px) {}

@media screen and (max-width: 992px) and (min-width:786px) {}

@media screen and (max-width: 786px) and (min-width:600px) {
    .our-team-head h2 {
        font-size: 28px;
    }

    .our-team-head p {
        font-size: 18px;
    }

}


@media screen and (max-width: 600px) {

    .our-team-head h2 {
        font-size: 24px;
    }

    .our-team-head p {
        font-size: 16px;
    }



}

/*our approachhhhhhhhhhhhhhhhhhhh*/

.our-Approatch {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 50px 0px;

}

.head-text {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    width: 90%;
    margin: auto;
}

.head-text h2 {
    color: #6B6B6B;
    font-size: 40px;
    font-weight: 400;

}

.head-text p {
    font-size: 20px;
    color: #4F8280;
}

.approach-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Approatch-header {
    width: 50%;
    /* margin: 0 auto; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    /* padding: 0px 80px; */
}


.Approatch-header p {

    color: #A4A4A4;
    font-size: 21px;
    line-height: 36px;
}




.Approatch-img {
    width: 40%;
    position: relative;
    display: flex;
    justify-content: center;
    transition: all 1s ease-in-out;

}

.Approatch-img img {

    z-index: 2;
    width: 445px;

}

.Approatch-img::before {
    content: " ";
    width: 480px;
    height: 370px;

    background-color: #95BDBC;
    position: absolute;
    bottom: -20px;
    z-index: 1;



}

@media screen and (max-width: 1200px) and (min-width:992px) {

    .approach-content {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    /* .Approatch-header p {

        font-size: 13px;
    } */

    .Approatch-header {
        width: 100%;
        padding: 30px 0px;
    }

    .Approatch-img {
        width: 70%;
        margin: auto;


    }

    /* .Approatch-img img {
        width: 90%;


    }

    .Approatch-img::before {
        width: 98%;
        height: 90%;


    } */

    .our-Approatch.head-text {
        width: 100%;
    }


    .our-Approatch .head-text h2 {

        font-size: 21px;
    }
}

@media screen and (max-width: 992px) and (min-width:786px) {



    .approach-content {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    /* .Approatch-header p {

        font-size: 13px;
    } */

    .Approatch-header {
        width: 100%;
        padding: 30px 0px;
    }

    .Approatch-img {
        width: 70%;
        margin: auto;


    }

    /* .Approatch-img img {
        width: 90%;


    }

    .Approatch-img::before {
        width: 98%;
        height: 90%;


    } */

    .our-Approatch.head-text {
        width: 100%;
    }


    .our-Approatch .head-text h2 {

        font-size: 21px;
    }
}

@media screen and (max-width: 786px) and (min-width:600px) {



    .approach-content {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    /* .Approatch-header p {

        font-size: 13px;
    } */

    .Approatch-header {
        width: 100%;
        padding: 30px 0px;
    }

    .Approatch-img {
        width: 70%;
        margin: auto;


    }

    /* .Approatch-img img {
        width: 90%;


    }

    .Approatch-img::before {
        width: 98%;
        height: 90%;


    } */

    .our-Approatch.head-text {
        width: 100%;
    }


    .our-Approatch .head-text h2 {

        font-size: 21px;
    }

}


@media screen and (max-width: 600px) {


    .approach-content {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .Approatch-header p {

        font-size: 13px;
    }

    .Approatch-header {
        width: 100%;
        padding: 30px 0px;
    }

    .Approatch-img {
        width: 90%;


    }

    .Approatch-img img {
        width: 90%;


    }

    .Approatch-img::before {
        width: 98%;
        height: 90%;


    }

    .our-Approatch.head-text {
        width: 100%;
    }


    .our-Approatch .head-text h2 {

        font-size: 21px;
    }






}



/*About usssssssssssssssssssssssss*/
.Aboutus {


    display: flex;
    background-color: #F4F0EC;
    justify-content: space-between;
    position: relative;
    padding: 50px 0px;
}


.Aboutus-header {

    /* margin: 0 auto; */


    width: 50%;
    /* padding: 0px 80px 0px 0px; */
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    justify-content: center;
}

.Aboutus-header p:first-of-type {
    color: #6B6B6B;
    font-size: 24px;
    text-align: left;
}

.Aboutus-header p:last-of-type {
    line-height: 26px;
    font-size: 18px;
    color: #A4A4A4;
}

.Aboutus-header h2 {
    color: #4F8280;
    font-size: 40px;
    font-weight: 400;
}

.Aboutus-content {
    width: 50%;
    /* padding: 0px 60px; */
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
}


.Aboutus img {

    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    /* transform: rotate(90deg); */

    transition: all 1s ease-in-out;
    /* margin-top: -50px;
    margin-bottom: -50px;
    width: 480px; */

}

@media screen and (max-width: 1200px) and (min-width:992px) {


    .Aboutus {
        flex-direction: column;
        row-gap: 30px;

    }







    .Aboutus-header {
        width: 80%;
        margin: auto;
        padding: 0px;
    }



    .Aboutus-header h2 {
        color: #4F8280;
        font-size: 32px;
        font-weight: 400;
    }

    .Aboutus img {
        width: 60%;
    }


}

@media screen and (max-width: 992px) and (min-width:786px) {

    .Aboutus {
        flex-direction: column;
        row-gap: 30px;

    }







    .Aboutus-header {
        width: 80%;
        margin: auto;
        padding: 0px;
    }



    .Aboutus-header h2 {
        color: #4F8280;
        font-size: 32px;
        font-weight: 400;
    }


    .Aboutus img {
        width: 60%;
    }

}

@media screen and (max-width: 786px) and (min-width:600px) {


    .Aboutus {
        flex-direction: column;
        row-gap: 30px;

    }





    .Aboutus-header {
        width: 80%;
        margin: auto;
        padding: 0px;
    }




    .Aboutus-header h2 {
        color: #4F8280;
        font-size: 32px;
        font-weight: 400;
    }


    .Aboutus img {
        width: 60%;
        height: auto;
    }




}


@media screen and (max-width: 600px) {
    .Aboutus {
        flex-direction: column;
        row-gap: 30px;


    }


    .Aboutus-header {
        width: 80%;
        margin: auto;
        padding: 0px;
    }



    .Aboutus-header p:last-of-type {
        line-height: 26px;
        font-size: 13px;
    }

    .Aboutus-header h2 {
        color: #4F8280;
        font-size: 28px;
        font-weight: 400;
    }

    .Aboutus img {
        width: 80%;
    }


}



/*our approachhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh2*/
.our-approach2 {

    background-color: #CADEDD80;
    padding: 50px 0px;
}

.our-approach2-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.our-approach2 .head-text p {
    width: 70%;
}

.our-approach2 .head-text {
    margin: 0;

}

.approach2-content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.head-text p:last-of-type {
    color: #A4A4A4;
    line-height: 22px;
    font-size: 16px;
}

.ul {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.li {
    display: flex;
    column-gap: 20px;
    width: 70%;
    text-align: left;
}

.li .inner-li {
    display: flex;
    flex-direction: column;
    row-gap: 11px;
}

.li .inner-li h4 {
    color: #293336;
    font-size: 20px;
    font-weight: 400;
}

.li span {
    font-size: 36px;
    color: #4F8280;
}

.li .inner-li p {
    font-size: 13px;
    color: #A4A4A4;
    text-align: left;
}

.services-img {
    width: 40%;
    position: relative;
    display: flex;
    justify-content: center;
    transition: all 1s ease-in-out;

}

.services-img img {
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    z-index: 2;
    width: 420px;

}

.services-img::before {
    content: " ";
    width: 450px;
    height: 530px;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    background-color: #95BDBC;
    position: absolute;
    top: -15px;
    z-index: 1;



}

@media screen and (max-width: 1200px) and (min-width:992px) {

    .our-approach2-container {
        flex-direction: column;

        row-gap: 50px;

    }

    .li {

        width: 100%;
    }



    .li {
        width: 100%;
    }

    .li .inner-li h4 {
        font-size: 14px;
    }

    .li span {
        font-size: 22px;
    }




    .services-img {
        width: 70%;
        margin: auto;


    }

    /* 
    .services-img img {
        width: 90%;


    }

    .services-img::before {
        width: 98%;
        height: 90%;



    } */


    .our-approach2 .head-text {
        width: 100%;
    }

    .our-approach2 .head-text h2 {
        font-size: 24px;
    }

    .our-approach2 .head-text p {
        font-size: 13px;
        width: 100%;
    }





}

@media screen and (max-width: 992px) and (min-width:786px) {


    .our-approach2-container {
        flex-direction: column;

        row-gap: 50px;

    }

    .li {

        width: 100%;
    }



    .li {
        width: 100%;
    }

    .li .inner-li h4 {
        font-size: 14px;
    }

    .li span {
        font-size: 22px;
    }




    .services-img {
        width: 70%;
        margin: auto;


    }

    /* 
    .services-img img {
        width: 90%;


    }

    .services-img::before {
        width: 98%;
        height: 90%;



    } */


    .our-approach2 .head-text {
        width: 100%;
    }

    .our-approach2 .head-text h2 {
        font-size: 24px;
    }

    .our-approach2 .head-text p {
        font-size: 13px;
        width: 100%;
    }


}

@media screen and (max-width: 786px) and (min-width:600px) {

    .our-approach2-container {
        flex-direction: column;

        row-gap: 50px;

    }

    .li {

        width: 100%;
    }



    .li {
        width: 100%;
    }

    .li .inner-li h4 {
        font-size: 14px;
    }

    .li span {
        font-size: 22px;
    }




    .services-img {
        width: 70%;
        margin: auto;


    }

    /* .services-img {
        width: 70%;
        margin: auto;


    }

    .services-img::before {
        width: 98%;
        height: 90%;



    } */


    .our-approach2 .head-text {
        width: 100%;
    }

    .our-approach2 .head-text h2 {
        font-size: 24px;
    }

    .our-approach2 .head-text p {
        font-size: 13px;
        width: 100%;
    }



}


@media screen and (max-width: 600px) {
    .our-approach2-container {
        flex-direction: column;

        row-gap: 50px;

    }

    .li {

        width: 100%;
    }



    .li {
        width: 100%;
    }

    .li .inner-li h4 {
        font-size: 14px;
    }

    .li span {
        font-size: 22px;
    }




    .services-img {
        width: 90%;
        margin: auto;


    }

    .services-img img {
        width: 90%;


    }

    .services-img::before {
        width: 98%;
        height: 90%;



    }


    .our-approach2 .head-text {
        width: 100%;
    }

    .our-approach2 .head-text h2 {
        font-size: 24px;
    }

    .our-approach2 .head-text p {
        font-size: 13px;
        width: 100%;
    }





}


/*our comitmenttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttt*/
.our-comitment {
    padding: 50px 50px 0px;
}

.inner-card {
    width: 600px;
    padding: 100px 0px 40px 0px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    background-color: #4F8280;
    color: #E8ECEE;

    margin: auto;

}

.our-comitment .inner-card .inner-card-text p:nth-child(1),
p:nth-child(2) {
    font-size: 24px;
    text-align: center;

}

.inner-card-text {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
    width: 80%;

}

.inner-card-text ul {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    line-height: 22px;
}

@media screen and (max-width: 1200px) and (min-width:992px) {}

@media screen and (max-width: 992px) and (min-width:786px) {}

@media screen and (max-width: 786px) and (min-width:600px) {
    .inner-card {
        width: 500px;
    }
}


@media screen and (max-width: 600px) {

    .our-comitment .inner-card .inner-card-text p:nth-child(1),
    p:nth-child(2) {
        font-size: 16px;
    }

    .inner-card {
        width: 90%;

        margin: auto;
        padding: 70px 0px 40px 0px;
        font-size: 12px;
    }

    .our-comitment {
        padding: 50px 0px 0px 0px;
    }
}


/*footerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr*/

footer {
    display: flex;
    flex-direction: column;
    row-gap: 38px;
    background-color: #6B6B6B;
    color: #F4F0EC;
    padding: 70px 0px;

}

.social-icons {
    display: flex;
    align-items: center;
    column-gap: 16px;

}

.icons-container {

    display: flex;
    align-items: center;
    column-gap: 16px;

}

footer .circle {
    background-color: #4F8280;
}

footer i {
    color: #F4F0EC;
}

.footer-header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.hr2 {
    width: 70%;
    margin: auto;
    height: 1px;
    background-color: #F4F0EC;

}

.footer {
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.footer button {
    width: 120px;
    height: 40px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    background-color: #4F8280;
    color: #FFFFFF;
    border-radius: 30px;
    border: none;
}

.col {
    width: 30%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.footer .col ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.footer .col ul li {
    display: flex;
    column-gap: 12px;
}

input {
    background-color: #7b7b7b;
    border-radius: 30px;
    border: none;
    padding: 12px 10px;
    box-shadow: 0px 4px 8px 0px rgba(146, 146, 146, 0.2);

}

input::placeholder {
    color: #F4F0EC;
}

.input {
    display: flex;
    width: 280px;
    background-color: #7b7b7b;
    border-radius: 30px;
    position: relative;
}

.input button {
    position: absolute;
    right: 0;
}

.input button img {
    width: 18px;
}

@media screen and (max-width: 1200px) and (min-width:992px) {}

@media screen and (max-width: 992px) and (min-width:786px) {
    .footer-header {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }

    .social-icons {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        align-items: flex-start;
    }

    .footer {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }

    .col {
        width: 100%;
    }

}

@media screen and (max-width: 786px) and (min-width:600px) {
    .footer-header {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }

    .social-icons {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        align-items: flex-start;
    }

    .footer {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }

    .col {
        width: 100%;
    }

}

@media screen and (max-width: 600px) {
    .footer-header {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }

    .social-icons {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 16px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }

    .col {
        width: 100%;
    }

    .input {
        width: 250px;
    }

}


.display {
    display: block;
}

.right {
    position: absolute;
    right: calc(100% - 350px);
}

.left {
    position: absolute;
    right: 50px;
}